body {
    margin: 0;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    overflow: hidden;
}

/*-------------------------------------------------------------------------------------------------------------------*/

h1 {
    float: left;
    margin-right: 200px;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin-top: 35px;
}

ul li {
    padding: 0px 10px;
}

li a {
    color: #6b7280;   
}

li a:hover {
    color: #5A67D8;
}

/*-------------------------------------------------------------------------------------------------------------------*/

.overview-hero {
    background-color: #E2E8F0;
    padding: 50px;
}

.overview-hero-image img {
    float: left;
    padding-right: 50px;
}

.overview-hero-text {
    padding-top: 20px;
}

/*-------------------------------------------------------------------------------------------------------------------*/

.learn-about .container {
    padding: 50px 40px;
}

.learn-about h2 {
    color: #48BB78;
    font-size: 24px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px 30px;
    grid-auto-flow: row;
}

.card {
    border-color: #E2E8F0;
    border-radius: 5px;
    box-shadow: 5px 5px lightgrey;
}

.card img {
    padding-top: 10px;
}

.card-body h3 {
    color: #48BB78;
    font-size: 21px;
}

/*-------------------------------------------------------------------------------------------------------------------*/

.testing {
    background-color: #4A5568;
    color: #FFFFFF;
    padding: 50px;
}

.testing .container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.testing-description {
    width: 85%;
}

.cta button {
    background-color: #48BB78;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 13px 26px;
    border: none;
    cursor: pointer;
}

.cta button:hover {
    background-color: #add8bf;
}

/*-------------------------------------------------------------------------------------------------------------------*/

.stories {
    padding: 50px;
}

.stories h2, .stories a {
    color: #5A67D8;
}

article img {
    float: left;
    border-radius: 50%;
    height: 174px;
    width: 174px;
    padding-right: 15px;
}

.article-body {
    padding-bottom: 25px;
}

/*-------------------------------------------------------------------------------------------------------------------*/

.newsletter {
    background-color: #48BB78;
    color: #FFFFFF;
    text-align: center;
    padding: 50px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group {
    padding: 5px;
}

#email {
    padding: 10px 20px;
    height: 26px;
    border-radius: 5px;
}

.newsletter button {
    background-color: #5A67D8;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    height: 50px;
    cursor: pointer;
}

.newsletter button:hover {
    background-color: #b2b6e0;
}